
*{
    margin: 0%;
    padding: 0%; 
}
a{
    text-decoration: none;
    color: #D00000;
    font-size: 20px;
   
}
button{
    margin: 0px auto;
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* to remove button slider in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* navbar */

.navbar{
    background-color: #bde0fe;
    height: 50px;
    /* //below t2o code to move the navbaar */
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow: 0px 3px 2px 2px slateblue; */
}
.navbar img{
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 12px;
}
.navbar p{
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 58px;
    letter-spacing:4px;
}
.navlinks{
    position: absolute;
    right: 10px;
    top: 2px;
}
.navlink {
    display: inline-block;
    padding: 2px 2px;
    margin-top: 20px;
    font-size: 20px;
    color: blue;
}
.navcontent{
    clear: both;
    position: fixed;
    top: 50px;
    border: 2px solid #bde0fe;
    background-color: white;
    width: 100%;
}
.navcontent ul{
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}
.navcontent li{
    font-size: 20px;
    float: left;
    margin-left: 20px;
    padding-left: 7px;
}
.navcontent li a:hover{
    color: blue;
    font-size: 23px;    
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 4px;
    box-shadow: 12px 10px 12px 1px rgba(49, 56, 59, 0.2);
    transform: translateY(-2px);
}
.spacing{
    margin-top: 100px;
}
/* -------------------------index Page------------- */

/* image slider */
.slideshow_container {
   max-width:99%;
   height: 475px;
   margin: 40px;
   position: relative;
   z-index: -1;

  }
  .slideshow_container img{
  
      height: 450px;
      
  } 
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .imgSlide{
    width:100%;
    margin-top: 80px;
  border: 2px outset aquamarine;
  border-radius: 20px;
  box-shadow: 0px 10px 12px 2px cadetblue;
  
  }
  .mySlides{
    position: absolute;
    top: -50px;
    width: 100%;
  }
  /* image slider end */

  /* text in index page */
  .indexPara > h1{
    
      font-family: 'Style Script', cursive;
      text-align: center;
      font-size: 60px;
      margin-top: 100px;
      
  }
  .indexPara > p{
      text-align: center;
      margin: 0px 20px;
      font-size: 20px;
      font-family: 'Asar', serif;
  }

/* index table */
table{
    border: 2px solid red;
}
tr{
    border: 2px solid red;
}
th{
    border: 2px solid red;
}
td{
    border: 2px solid red;
}

/* ---------------------product page------------ */
/* product list */

.product {
    border: 2px solid red;
    border-radius: 12px;
    width: 200px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: inline-block;
}

.productImg {
    width: 200px;
    height: 230px;
    border-radius: 12px;
    border: 1px solid blue;
}

.productName {
    text-align: center;
    margin-bottom: 5px;
}

.productPrice {

    text-align: center;
}
/*----------------------- productSpec page ------------------------*/
.productSpec img {
    width: 200px;
    height: 300px;
}

.productSpec button {
    background-color: red;
}

/*------------- Register, login page and orderPage-----------  */

/* common codes */

.regLogo img{
   
    height: 45px;
    width: 45px;
    margin-left: 20px;
    margin-top: 10px;
}
.regLogo p{
    position: absolute;
    top: 30px;
    left: 70px;
    letter-spacing: 2px;
    font-size: 25px;
}
.field input:valid + label::before,.field input:focus +label::before{
    line-height: 20px;
    font-size: 12px;
    top: -10px; 
    background-color: #fff;
    padding: 0 6px;
    left: 9px;
}
/* for invalid input */
.field .email input:not(:placeholder-shown):invalid +label::before{
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
    color: red;
}
.field{
    position: relative;
    margin: 15px 20px 10px 20px ;
}
.field label::before{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
}
.field input{
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.field input::placeholder{
    color: white;
}
.field input:focus{
    outline: 0;
    border-color: blue;
}
.field input:focus + label::before{
    color: blue;
}

.RegisterContainer button,.loginContainer button,.orderPageContainer button{
    display: block;
    position: absolute;
    background-color: red;
    color: white;
    margin-left: 20px;
    width: 90%;
    height: 30px;
    border-radius: 12px;
    padding-right: 2px;
    letter-spacing: 2px;
}

/* Registration page container */
.RegisterContainer{
    position: relative;
    border: 2px solid red;
    border-radius: 12px;
    margin: 10% 35% 0% 35%;
    padding-bottom: 3%;
    
}
/* login page */
.loginContainer{
    border: 2px solid red;
    border-radius: 12px;
    margin: 12% 35% 0% 35%;
    padding-bottom: 40px;
    position: relative;
}
/* ordernow page */
.orderPageContainer{
    border: 2px solid red;
    border-radius: 12px;
    margin: 12% 35% 0% 35%;
    padding-bottom: 40px;
    position: relative;
}

/* ordernow */
