*{
    margin: 0%;
    padding: 0%; 
}
a{
    text-decoration: none;
    color: #D00000;
    font-size: 20px;
   
}
button{
    margin: 0px auto;
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* navbar */
.navbar{
    background-color: #bde0fe;
    height: 60px;
}
.navbar img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 12px;
}
.navbar p{
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 58px;
    letter-spacing:4px;
}
.navlinks{
    position: absolute;
    right: 10px;
    top: 25px;
}
.navlink {
    display: inline-block;
    float: right;
    padding: 2px 2px;
    font-size: 20px;
    color: blue;
}
.navcontent ul{
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}
.navcontent li{
    font-size: 20px;
    float: left;
    margin-left: 20px;
    padding-left: 7px;
}
.navcontent li a:hover{
    color: blue;
    font-size: 23px;    
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 4px;
    box-shadow: 12px 10px 12px 1px rgba(49, 56, 59, 0.2);
    transform: translateY(-2px);
}
/* index table */
table{
    border: 2px solid red;
}
tr{
    border: 2px solid red;
}
th{
    border: 2px solid red;
}
td{
    border: 2px solid red;
}
/* product page */
/* product list */

.product  li{
    /* float: left; */
    list-style: none;
    margin-left: 10px;
    font-size: 20px;
}
/* Register and login page */
.Registercontainer{
    position: relative;
    border: 2px solid red;
    border-radius: 8px;
    margin: 6% 35% 0% 35%;
    padding-bottom: 3%;
    
}
.Reglogo{
    /* position: relative; */
}

.Reglogo img{
   
    height: 45px;
    width: 45px;
    margin-left: 20px;
    margin-top: 10px;
}
.Reglogo p{
    position: absolute;
    top: 30px;
    left: 70px;
    letter-spacing: 2px;
    font-size: 25px;
}
.field input:valid + label::before,.field input:focus +label::before{
    line-height: 20px;
    font-size: 12px;
    top: -10px; 
    background-color: #fff;
    padding: 0 6px;
    left: 9px;
    
}
/* for invalid input */
.field .email input:not(:placeholder-shown):invalid +label::before{
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
    color: red;
}
.field{
    position: relative;
    
    margin: 15px 20px 10px 20px ;
}
.field label::before{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
}
.field input{
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.field input::placeholder{
    color: white;
}
.field input:focus{
    outline: 0;
    border-color: blue;
}
.field input:focus + label::before{
    color: blue;
}

.Registercontainer button,.logincontainer button{
    display: block;
   

    position: absolute;
    background-color: red;
    color: white;
    margin-left: 20px;
    width: 90%;
    height: 30px;
    border-radius: 12px;
    padding-right: 2px;
    
    
    
}

/* login page */
.logincontainer{
    border: 2px solid red;
    border-radius: 12px;
    margin: 5% 35% 0% 35%;
    padding-bottom: 40px;
    position: relative;
}
.loginContainer{
    position: absolute;
    align-items: center;
    bottom: 2.8%;
    top: 85%;
    left: 5.5%;
    right: 5.5%;
    background-color: red;
    border-radius: 8px;
    color: white;
    padding: 1.2% 0% 2% 36%;
    margin: 7px 0px 10px 20px; 
}
