*{
    margin: 0%;
    padding: 0%; 
}
a{
    text-decoration: none;
    color: #D00000;
}

.navbar {
    width: 100%;
    height: 80px;
    padding-bottom: 10px;  
}
.NavBar p{
    font-size: 30px;
    width: 300px;
    padding-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 4px;
}
.NavBar,.navbarimg {
    background-color: #bde0fe ;
    height: 45px;
    text-decoration: none;
    float: left;
    padding-top: 5px;
    padding-left: 7px;
    margin-right: 5px;
}
.navbarimg input{
    margin-right: 1000px;
}
.NavBar input{
    width: 500px;
    margin-top: 10px;
    margin-right: 70px;
    padding-left: 10px;
    height: 30px;
    font-size: 15px;
    float: right;
    border-radius: 7px;
}

.imageSlider ul{
    margin-top: 10px;
    margin-right: 20px;
    list-style: none;
    float: right;
}
.imageSlider li{
    font-size: 20px;
    float: left;
    margin-left: 20px;
    padding-left: 2px;
}
.imageSlider li a:hover{
    
    color: blue;
    font-size: 23px;    
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 4px;
    box-shadow: 12px 10px 12px 1px rgba(49, 56, 59, 0.2);
    transform: translateY(-2px);
    transition: 0.35s;
}

.imgReg{
    margin-top: 7px;
    margin-right:20px;
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 200px;
    
}
/* content*/
.indexImage{
    width: 200px;
    height: 200px;
}
.product{
    margin-left: 10px;
    
}
.product p{
    font-size: 20px;
}
.product img{
    width: 100px;
    height: 100px;
}
